<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <script src="/js/admin.js"></script>
    <title>Admin Dashboard</title>
  </head>
  <body>  
    <input value={{user}} id="user" hidden></input>
    
      <nav class="navbar navbar-expand-sm bg-dark">
          <ul class="navbar-nav">
            <li class="nav-itm">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order">My Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/staff">Staff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </nav>
  
            
        <div class="container py-5 fixed-center ">
            <div class="row text-center">
              <h2>Welcome to the Admin Dashboard</h2>
            </div>
            <div class="row mt-4">
                <div class="col-sm">
                    <div class="row">
                        <a type="button" class="btn btn-primary py-3 w-75 btn-block" href="manageOthers">Manage Admins/Staff</a>
                        <a type="button" class="btn btn-primary py-3 w-75 btn-block mt-4" href="manageRests">Manage Restaurants</a>
                    </div>
                </div>
                
                <div class="col-sm">
                    <div class="row">
                        <a type="button" class="btn btn-primary py-3 w-75 btn-block" href="manageDiscounts">Manage Discounts</a>
                        <a type="button" class="btn btn-primary py-3 w-75 btn-block mt-4" href="manageMenus">Manage Menus</a>
                    </div>
                </div>
            </div>
        </div>
  </body>
</html>