<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
  <script src="/js/forgot.js"></script>
    <title>Forgot Password</title>
  </head>
  <body>
    <div class="container py-5" style="height: 200px;">
      <div class="col mx-auto" style="width: 500px;">  
        <div class="row mx-auto" style="width: 200px;">       
          <h1>Forgot Password</h1>        
        </div>
      <form id="loginForm">
        <div class="form-group">
          <label >Username</label>
          <input type="text" class="form-control" id="uname" placeholder="Username" required>
        </div>
      
        <div class = "row">
        <div class = "col">
        <button type="submit" class="btn btn-primary " id="Login">Submit</button>
        <a  class="btn btn-primary " href='/'>Back</a>
        </div>
  
      </div>
      </form>
      </div>

    </div>
  </body>
</html>