<!DOCTYPE html>
<html lang="en">
<head>
  <title>My Orders</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="/js/order.js"></script>
  
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark">
          <ul class="navbar-nav">
            <li class="nav-itm">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/order">My Orders</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/profile">My Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/staff">Staff</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/admin">Admin</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
          </ul>
        </nav>
    <div class="container py-5 ">
        <div class="col bg-light">
          <!-- start of col 1  -->
          
      <h2> My Orders</h2>
          <button id="refresh">Refresh</button>  
          <input value={{user}} id='uname' hidden></input>
           <table class="container py-5 table">
              <thead>
                <tr>
                  <th scope="col">CartID</th>
                  <th scope="col">Restaurant Name</th>
                  <th scope="col">Status</th>
                  <th scope="col"></th>
                </tr>
              </thead>
            
              <tbody id="orders">
              </tbody>
            </table>
          <!-- end of col 1  -->
        </div>
        
    </div>
  


    
</body>
</html>